#!/usr/bin/env bash
set -euo pipefail

# {{ include "key.txt.age" | sha256sum }}

mkdir -p "{{ .chezmoi.homeDir }}/.config/chezmoi"

"{{ .chezmoi.executable }}" age decrypt --output "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"

chmod 600 "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
