#!/usr/bin/env bash
set -euo pipefail

echo "🚀 Installing Homebrew..."

if ! command -v {{ .brewPath }}; then
    echo "🍺 Installing Homebrew..."
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "✅ Homebrew already installed."
fi

echo "✅ Successfully installed Homebrew!"
