encryption = "age"
[age]
    identity = "~/.ssh/age.txt"
    recipient = "age13fwcalml7j9aqmz7rddq9cycp9h8z2hjqxdsl8n5nf6n7l4a6q2sy90p2l"

[git]
    autoAdd = true
    autoCommit = true
    autoPush = true

[data]
name = "Karl Hans Laurits"
email = "karl@laurits.dev"
userName = "lauritsk"
