Host mc
    HostName mcserver
    User karl
    ForwardAgent yes

Host karlhansu
    HostName router.karlhansu.lan
    User admin

Host tondi
    HostName router.tondi.lan
    User admin

Host pihlaka
    HostName router.pihlaka.lan
    User admin

Host reinu
    HostName router.reinu.lan
    User admin

Host reinu-antenna
    HostName antenna.reinu.lan
    User admin
