Host mgmt-karlau
	HostName 13.51.107.7
	Port 22
	User ec2-user
	IdentityFile ~/.ssh/karlau-kp.pem

Host karlau-db
	HostName 172.0.161.169
	Port 22
	User ec2-user
	IdentityFile ~/.ssh/karlau-kp.pem
	ProxyJump mgmt

Host karlau-webpage
	HostName 172.0.162.50
	Port 22
	User ec2-user
	IdentityFile ~/.ssh/karlau-kp.pem
	ProxyJump mgmt

Host karlau-webserver
	HostName 13.49.222.18
	Port 22
	User ec2-user
	IdentityFile ~/.ssh/karlau-webserver.pem
