Host mc
    HostName mcserver
    User karl
    ForwardAgent yes
    RequestTTY force
    RemoteCommand tmux new-session -A -s main

Host karlhansu
    HostName router.karlhansu.lan
    User admin

Host tondi
    HostName router.tondi.lan
    User admin

Host pihlaka
    HostName router.pihlaka.lan
    User admin

Host reinu
    HostName router.reinu.lan
    User admin

Host reinu-antenna
    HostName antenna.reinu.lan
    User admin
