{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{- end }}

Host *
    {{- if eq .chezmoi.os "darwin" }}
    IgnoreUnknown UseKeychain
    UseKeychain yes
    {{- end }}
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519_sk
