{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{- end }}

Host mcserver work
    ForwardAgent yes
    RemoteCommand tmux new-session -A -s main -c ~/Projects
    RequestTTY force

Host *
    {{- if eq .chezmoi.os "darwin" }}
    IgnoreUnknown UseKeychain
    UseKeychain yes
    {{- end }}
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519_sk
    ConnectTimeout 10
    ServerAliveInterval 30
    ServerAliveCountMax 3
    TCPKeepAlive yes
    ControlMaster auto
    ControlPersist 10m
    ControlPath ~/.ssh/controlmasters/%C
