[init]
        defaultBranch = main
[user]
        name = Karl Hans Laurits
        email = karl@laurits.dev
        signingkey = sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIKmX6E41IT2P+lmGiXhhUcA9ulmlYaPfW9tSkb2BV97+AAAABHNzaDo= ssh:
[gpg]
        format = ssh
[gpg "ssh"]
        allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
[core]
        fsmonitor = true
        untrackedCache = true
        excludesfile = ~/.config/git/ignore
[tag]
        sort = version:refname
        gpgsign = true
[commit]
        verbose = true
        gpgsign = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[pull]
        rebase = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[merge]
        conflictstyle = zdiff3
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[rerere]
        enabled = true
        autoupdate = true
[column]
        ui = auto
[branch]
        sort = -committerdate
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[help]
        autocorrect = prompt
