[init]
        defaultBranch = main
[user]
        name = Karl Hans Laurits
        email = karl@laurits.dev
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIERNxt3cnIcfexVELx9Rv/VbP+E64DKVT8iMIYj1e79N
[gpg]
        format = ssh
[gpg "ssh"]
        allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
