if status is-interactive
    fish_config theme choose catppuccin-mocha
    fish_add_path {{ .chezmoi.homeDir }}/.local/bin
    fish_add_path /opt/homebrew/bin
    fish_add_path /opt/homebrew/opt/sqlite/bin
    fish_add_path {{ .chezmoi.homeDir }}/.config/composer/vendor/bin
    type -q mise; and mise activate fish | source
    type -q starship; and starship init fish | source
    type -q zoxide; and zoxide init fish --cmd cd | source
end

source ~/.orbstack/shell/init2.fish 2>/dev/null || :
